.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    padding: 10px;
  }
  
  .btn-primary1 {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .register-link1,
  .register-link2 {
      text-align:center;
      margin-top:10px;
  }
  
  @media (max-width:576px){
      .login-form{
          width:90%;
      }
  }
  